<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventoryManagementSystem"
        tools:targetApi="31" >
        <activity
            android:name=".views.FixUnitDiscrepanciesUtility"
            android:exported="false" />
        <activity
            android:name=".views.UtilitiesSubMenu"
            android:exported="false" />
        <activity
            android:name=".views.LocationDetails"
            android:exported="false" />
        <activity
            android:name=".views.FindPurchaseOrderScreen"
            android:exported="false" />
        <activity
            android:name=".views.PurchaseOrderProductList"
            android:exported="false" />
        <activity
            android:name=".views.AddPurchaseOrder"
            android:exported="false" />
        <activity
        android:name=".views.OrderDetails"
        android:exported="false" />
        <activity
            android:name=".views.UnitAdjustment"
            android:exported="false" />
        <activity
            android:name=".views.InventorySubMenu"
            android:exported="false" />
        <activity
            android:name=".views.AddMassLocations"
            android:exported="false" />
        <activity
            android:name=".views.IMSBarcodeScanner"
            android:exported="false" />
        <activity
            android:name=".views.InventoryList"
            android:exported="false" />
        <activity
            android:name=".views.AddOrder"
            android:exported="false" />
        <activity
            android:name=".views.OrdersList"
            android:exported="false" />
        <activity
            android:name=".views.FindProductScreen"
            android:exported="false" />
        <activity
            android:name=".views.FindLocationScreen"
            android:exported="false" />
        <activity
            android:name=".views.ReceivingScreen"
            android:exported="false" />
        <activity
            android:name=".views.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".views.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LocationList"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.AddLocation"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.AddZone"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.UserDetails"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".deprecated.ExceptionCodes"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.UnitsOfMeasure"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.Zones"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".deprecated.Locations"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.LocationsSubMenu"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.ViewCompanyDetails"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.UserList"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.ProductDetails"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.Registration"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.Login"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.ItemList"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.AddItem"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.CompanySetup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>